{% load static i18n %}

{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "Licenciamiento" %}
  </a>
  <ul class="dropdown-menu">
    {% if perms.qliksense.view_tipolicencia %}
    <li><a class="dropdown-item" href="{% url 'qliksense:list_licencia' %}">{% translate "Tipo de licencias" %}</a></li>
    <li><hr class="dropdown-divider"></li>
    {% endif %}
    {% if perms.qliksense.view_area %}
    <li><a class="dropdown-item" href="{% url 'qliksense:list_area' %}">{% translate "Áreas responsables" %}</a></li>
    <li><hr class="dropdown-divider"></li>
    {% endif %}
    {% if perms.qliksense.view_usuario %}
    <li><a class="dropdown-item" href="{% url 'qliksense:list_usuario' %}">{% translate "Listar Usuarios" %}</a></li>
    {% endif %}
  </ul>
</li>
  {% if perms.qliksense.view_stream %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "Qlik Sense" %}
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'qliksense:list_stream' %}">Listar Streams</a></li>
  </ul>
</li>
  {% endif %}
{% endif %}
